extend layout
block content
  p
    | Countries!
  p
    ul
      each results in results.length ? results : ['There are no countries']
        li= result
block sidebar
  p
    | nothing to see here

