extend layout

- var results = destination;
- console.log('in view, destination: ' + JSON.stringify(results, null, 2));

block content
  h1 destination[0].destination_name
  - console.log('starting: ' + JSON.stringify(result, null, 2));
  p
    | result.destination_name + ' is in ' result.country_name + ' and likely offers ' + result.min_days + '-' + result.max_days + ' of activities.
  h2 Activities
    ul
      each activity in result.activity_name.length ? result.activity_name : [null]
        if activity
          li= activity
  h2 Description
    ul
      each desc in result.description.length ? result.description : [null]
        if desc
          li= desc
block sidebar

