extend layout
block content
  .main-content
    p
      | Welcome!  Want to see a #[a(href="/destinations") list of places]? 
block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.
  .map
    iframe(src="https://www.google.com/maps/d/embed?mid=z6qrLvq-KKu0.koezeUCFlX_0", width="480", height="360")
