extend layout
block content
  p
    | Welcome!  Want to see a #[a(href="/db") list of countries]? 
  p
    | Donec congue lacinia dui, a porttitor
    | lectus condimentum laoreet. Nunc eu
    | ullamcorper orci. Quisque eget odio ac
    | lectus vestibulum faucibus eget in metus.
    | In pellentesque faucibus vestibulum. Nulla
    | at nulla justo, eget luctus tortor.
block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.
.map
  iframe(src="https://www.google.com/maps/d/embed?mid=z6qrLvq-KKu0.koezeUCFlX_0", width="480", height="360")
