doctype
html
  head
    title #{title} - nwinches
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Neat
    .container
      .main-content
        block content
      .sidebar
        block sidebar
      .map
        iframe(src="https://www.google.com/maps/d/embed?mid=z6qrLvq-KKu0.koezeUCFlX_0", width="480", height="360")

    footer
      p Running on node with Express, Jade and Stylus
