doctype
html
  head
    title #{title} - Hello, Globe!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Hello, Globe!
    .container
      .main-content
        block content
      .sidebar
        block sidebar

    footer
      p // Inspirational Quote
