doctype
html
  head
    title #{title} - Hello, Globe!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 #[a(href='/') Hello, Globe!]
    .container
      block content
      .sidebar
        block sidebar

    footer
      p // Inspirational Quote
