
@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Quicksand')
@import url('http://fonts.googleapis.com/css?family=Molengo')
@import url('http://fonts.googleapis.com/css?family=Nunito')
global-reset()
main-color = #5A80B1
background-color = lighten(#D0C5C4, 60%)


body
  font-family 'Quicksand'
  background-color background-color
  color #444

header
  font-family 'Nunito'
  padding 10px 18px
  position fixed
  width 100%
  top 0px
  color #fff
  font-size 38px
  text-align left
  background-color main-color
  border-bottom 2px ridge darken(main-color, 40%)
  text-shadow -1px 2px 0px darken(main-color, 40%)

  * > a
    color white
    font-style normal
    text-decoration none
    

.container
  width 1000px
  margin 50px auto
  margin-top 98px
  overflow hidden

.main-content
  float left
  width 300px

  p
    margin-bottom 20px

.map
  float left
  width 480px
  margin-left 20px

.sidebar
  float left
  width 200px

  .widget

    /*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
    border-radius 3px
    border 1px solid #aaa
    margin-left 20px
    background-color background-color
    box-shadow inset 0px 0px 0px 3px rgba(#fff, 0.6), 0px 3px 0px -2px rgba(#000, 0.1)

    h1
      font-family 'Quicksand'
      margin 13px 10px 4px
      padding-bottom 10px
      border-bottom 1px dotted #aaa
      border-radius 2px 2px 0px 0px
      margin-bottom 10px

    p
      font-size 13px
      padding 0px 10px
      margin-bottom 10px

p
  line-height 1.8

table 
  border 0px solid darken(background-color, 20%)
  border-collapse collapse
  width 100%
  padding 9px

ul
  margin-left 18px
  list-style-type square

th, td 
  border 0px solid 
  padding 9px

th
  background-color darken(background-color, 20%)
  font-family 'Nunito'
  font-weight bold

tr:nth-child(even)
  background-color: lighten(background-color, 80%)

tr:hover
  background-color lighten(main-color, 70%)

h2
  font-family 'Nunito'
  font-weight bold
  font-size 200%
  padding 12px 0px 6px 0px

h3
  font-weight bold
  font-size 150%
  padding 20px 0px 6px 0px

footer
  width 500px
  margin 50px auto
  border-top 1px dotted #aaa
  padding-top 5px
  font-size 13px
  align center

